doctype html
html
    head
        title= title
        meta(name='description', content='Esse é um teste de metatags para incorporar em outros sites a nossa ' +
        'thumbnail')
        meta(property='og:description', content='Esse é um teste de metatags para incorporar em outros sites a nossa ' +
        'thumbnail 2')
        meta(property='og:title', content='Metatags')
        meta(property='og:type', content='product.group')
        meta(property='og:url', content=`${fullUrl}`)
        meta(property='og:image', content=`${fullUrl}images/eatp-noveleiros-a.jpg`)
        meta(property='og:image:width', content='600')
        meta(property='og:image:height', content='315')

        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
